In [2]:
class Employee:
    numberOfWorkingHours = 40

In [3]:
employeeOne = Employee()

In [4]:
employeeTwo = Employee()

In [6]:
employeeOne.numberOfWorkingHours

40

In [7]:
employeeTwo.numberOfWorkingHours

40

In [8]:
Employee.numberOfWorkingHours = 45

In [9]:
employeeOne.numberOfWorkingHours

45

In [10]:
employeeTwo.numberOfWorkingHours

45

In [11]:
employeeOne.name = 'John'

In [12]:
employeeOne.name

'John'

In [13]:
employeeTwo.name = 'Mary'

In [14]:
employeeTwo.name

'Mary'