In [1]:
#return lesser number if both are even and return greater number if one or both are odd

def lesser_of_two_events(a,b):
    if a%2 == 0 and b%2 == 0:
        if a<b:
            result = a
        else:
            result = a
    else:
        if a>b:
            result = a
        else:
            result = b
    return result

In [2]:
lesser_of_two_events(2,4)

2

In [3]:
lesser_of_two_events(7,5)

7

In [4]:
#return lesser number if both are even and return greater number if one or both are odd

def lesser_of_two_events(a,b):
    if a%2 == 0 and b%2 == 0:
       result = min(a,b)
    else:
        if a>b:
           result = max(a,b)
    return result

In [5]:
lesser_of_two_events(2,4)

2

In [6]:
lesser_of_two_events(7,5)

7

In [22]:
def animal_crackers(text):
    wordlist = text.lower().split()
    print(wordlist)
    
    return wordlist[0][0] == wordlist[1][0]

In [24]:
animal_crackers('crazy kangaroo')

['crazy', 'kangaroo']

False

In [23]:
animal_crackers('Lazy lamba')

['lazy', 'lamba']

True

In [31]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [32]:
makes_twenty(12,8)

True

In [33]:
makes_twenty(20,0)

True

In [34]:
makes_twenty(0,20)

True

In [35]:
makes_twenty(2,3)

False

In [38]:
def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [39]:
old_macdonald('macdonald')

'MacDonald'

In [40]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [41]:
old_macdonald('macdonald')

'MacDonald'

In [43]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    
    return ' '.join(reverse_wordlist)

In [44]:
master_yoda('I am home')

'home am I'

In [47]:
master_yoda('We are ready')

'ready are We'

In [48]:
def almost_there(n):
    return (abs(100-n)<=10) or (abs(200-n)<=10)

In [49]:
almost_there(104)

True

In [50]:
almost_there(120)

False

In [51]:
almost_there(209)

True

In [52]:
almost_there(250)

False

In [64]:
#return true if arrary contains 3 next to 3 somewhere

def has_33(num):
    for i in range(0,len(num)-1):
        if num[i:i+2]==[3,3]:
            return True
    return False

In [65]:
has_33([1,3,1,3])

False

In [70]:
has_33([1,3,3,1])

True

In [71]:
has_33([3,1,3])

False

In [74]:
#given a string, return a string where for every character in the original there are three characters

def paper_doll(text):
    result = ''
    
    for char in text:
        result+= char*3
    return result

In [75]:
paper_doll('Hello')

'HHHeeellllllooo'

In [76]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [77]:
# given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum.
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10.
#Finally if the sum(after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [78]:
blackjack(9,9,9)

'BUST'

In [80]:
blackjack(5,6,7)

18

In [81]:
blackjack(9,9,11)

19

In [84]:
#Return the sum of the numbers in the array, 
#except, ignore sections of number starting with a 6 and extending to next 9(every 6 will be followed by one 9)
#return 0 for no numbers

def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!= 6:
                total +=num
                break
            else:
                add = False
        while not add:
            if num!= 9:
                break
            else:
                add = True
                break
    
    return total

In [86]:
summer_69([1,3,5])

9

In [87]:
summer_69([4,5,6,7,8,9])

9

In [88]:
summer_69([2,1,6,9,11])

14

In [89]:
# take in a list of integers and returns true if it contains 007 in order

def spy_game(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop()
            
    return len(code)==1

In [90]:
spy_game([1,2,4,0,5,7,0,44,0,7])

True

In [91]:
spy_game([1,2,4,0,5,7,0])

False

In [92]:
spy_game([1,2,4,0,0,7,0,44])

True

In [99]:
#WAF that returns the number of prime numbers that existes upto and including a given number

def count_primes(num):
    
    #for 0 and 1
    if num < 2:
        return 0
    
    #2 or greater
    
    #to store our prime numbers
    primes = [2]
    
    #counter going upto the input number
    x = 3
    
    #x is going through every number up to input number
    while x <= num:
        #check if x is prime
        for y in primes:
            if x % y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [100]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25