In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
list1 = [a for a in 'Jagriti']

In [7]:
list1

['J', 'a', 'g', 'r', 'i', 't', 'i']

In [11]:
list2 = [num for num in range(0,11)]

In [12]:
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list2 = [num**2 for num in range(0,11)]

In [15]:
list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
mylist = [x for x in range(0,10) if x%2==0]

In [17]:
mylist

[0, 2, 4, 6, 8]

In [32]:
celcius = [0,37,20,37]
farenheit = [((9/5) * temp + 32) for temp in celcius ]

In [33]:
farenheit

[32.0, 98.60000000000001, 68.0, 98.60000000000001]

[32.0, 98.60000000000001, 84.2, 98.60000000000001]

In [35]:
results= [x if x%2==0 else 'ODD' for x in range(0,10)]

In [36]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [39]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [40]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [41]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [42]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]