Immutability

In [ ]:
name = "Jagriti"

In [3]:
#name[0] ='A' cannot replace directly

In [10]:
last_letters =name[1:]

In [11]:
last_letters

'agriti'

In [12]:
'A' + last_letters

'Aagriti'

In [13]:
X = 'Hello World'

In [14]:
X + ' this is concatenation'

'Hello World this is concatenation'

In [15]:
X = X +' this is concatenation'

In [16]:
X

'Hello World this is concatenation'

In [17]:
letter = 'z'

In [18]:
letter * 10

'zzzzzzzzzz'

In [21]:
2+3 #add

5

In [22]:
'2' + '3' #concate

'23'

In [23]:
x = 'Hello World'

In [24]:
x.upper()

'HELLO WORLD'

In [25]:
x.lower()

'hello world'

In [26]:
x.split()

['Hello', 'World']

In [27]:
x = 'Hi this is a string'

In [31]:
x.split() #by default split is by white spaces

['Hi', 'this', 'is', 'a', 'string']

In [32]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

formatting with .format() method
syntax:
 'string here {} then also {}.format('something1', 'something2')

In [33]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [36]:
print('{} {} {}'.format('fox', 'quick','brown'))

fox quick brown

In [37]:
print('{1} {2} {0}'.format('fox', 'quick','brown'))

quick brown fox

In [38]:
print('{0} {0} {0}'.format('fox', 'quick','brown'))

fox fox fox

In [39]:
print('{q} {b} {f}'.format(f='fox', q='quick',b='brown'))

quick brown fox

float formatting follows "{value:width.precision f}"

In [40]:
result = 100/777

In [41]:
result

0.1287001287001287

In [42]:
print("the result is {r:1.3f}".format(r=result))

the result is 0.129

f strings

In [43]:
name= "Jagriti"

In [45]:
print(f'Hello, my name is {name}')

Hello, my name is Jagriti

In [46]:
name = "Jagriti"
age = "24"

In [47]:
print(f'{name} is {age} years old')

Jagriti is 24 years old